################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

fsstatbeat:
  # Defines how often an event is sent to the output
  period: 1s
